[2015-06-22 11:24] woutergoossens opened #4 "SDK 2.3"
Hi,

Since there was a major upgrade from Quickblox to version 2.3, is upgrading the code to that version planned?

Thanks

Wouter

[2015-06-22 11:47] soulfly commented on #4
Yes, it's now in dev phase, going to release it in the mid of July with additional features

[2015-06-22 11:48] woutergoossens commented on #4
Great! Thanks

On Mon, Jun 22, 2015 at 1:47 PM, Igor Khomenko <notifications@github.com>
wrote:

[2015-07-30 09:08] woutergoossens commented on #4
Any update here? Is there already a new release available?

[2015-08-19 10:29] thiemdv commented on #4
I'm expecting the new release too.

Thanks for your great work.

[2015-10-11 18:11] Shamsiddin opened #18 "Errors while compiling"
I don't know what is the problem but I'm not able to build it with XCode 6.3. It's giving me errors on many places.
My OS X Version is: 10.11 (15A282b) El Capitan.

Can You please give me any solution to build it successfully. That would be good practise for my project.

Thanks.

[2015-10-11 19:57] Raikerian commented on #18
Hi,

Please show your errors or explain it with more details so we can try to help you.

[2015-10-12 13:11] Shamsiddin commented on #18
Hi,
Thank you for your response. My problem was solved. It turns out error was when I opened project from remote computer folder. When I copied it locally and built it worked.

[2015-10-12 19:00] #18 closed

[2015-11-13 22:00] Raikerian commented on #4
Q-municate with Quickblox iOS SDK 2.4.6 is available for download.

[2015-11-13 22:00] #4 closed

[2015-12-01 10:54] dErangaPrasad opened #62 "dialogID nil"
I'm facing NSParameterAssert failure for "dialogID" in "chatDidReadMessageWithID" and "chatDidDeliverMessageWithID" methods in "QMChatService" class.

here is the log

2015-12-01 16:22:44.244 Q-municate[368:36987] [ChatService] Presence SNT: <presence/>
2015-12-01 16:22:44.245 Q-municate[368:36987] [ChatService] IQ SNT: <iq type="get" id="1C4CDBF2-532C-4080-BECA-611C67E5F0EC"><query xmlns="jabber:

[2015-12-24 10:42] Raikerian commented on #62
Here is the actual problem: https://github.com/QuickBlox/q-municate-services-ios/issues/69

[2015-12-24 10:42] #62 closed

[2016-02-02 08:26] jmark821 opened #107 "Searching for new contacts always returns 'No Results'"
2016-02-02 00:24:37.672 Q-municate[4663:1404220] [QBCore] Request URL:https://api.quickblox.com/users/by_full_name.json?full_name=M&page=1&per_page=50
2016-02-02 00:24:37.674 Q-municate[4663:1404220] [QBCore] Request method: GET
2016-02-02 00:24:37.675 Q-municate[4663:1404220] [QBCore] Request parameters:{
    "full_name" = M;
    page = 1;
    "per_page" = 50;
}
2016-02-02 00:24:37.675 Q-municate

[2016-02-02 08:57] iSevenDays commented on #107
Hi!

There can only be 2 reasons.

It is not allowed in settings of your application to download users http://admin.quickblox.com/apps/YOUR_APP_ID/settings
Check "Allow to retrieve a list of users

2.You have created a session without user. ( You have completed this step already )

 [QBRequest logInWithUserLogin:@"login" password:@"password"
                     successBlock:[self successBlock] er

[2016-02-22 09:16] Raikerian commented on #107
We haven't heard any updates from you for a long time. I'm closing this issue for tracking purposes.
If you are still having any troubles, feel free to create separate issue.

[2016-02-22 09:16] #107 closed

[2016-03-22 13:53] andres-lago opened #126 "Offline status not updated"
When one user logs out, the other users continue to see them in 'online' instead of 'offline'. In the test, only after 20 minutes the correct status appeared.

To reproduce the error:
1)Run app in simulator, login as user A with Facebook
2)Run app in iPhone 5s, login as user B
3)From each app, add user as contact user A or B
4)In app (1),  logout user A
5)In app (2) The status for user A should ap

[2016-03-22 16:11] Raikerian commented on #126
Hi,

There is no version from 26/Feb/2016
We have an 29/Feb/2016 version in master.

However I was able to reproduce this issue and it seems the issue is server-sided. We are currently investigating this and will post update soon.

[2016-03-23 14:12] Raikerian commented on #126
There was some server-side problems yesterday and everything is working for me today. Can you confirm this?

[2016-03-23 16:46] andres-lago commented on #126
Perfect, I confirm it's working Ok. I feel the messages are dispatched quicker too. On the other side, I hope this server problem doesn't repeat frequently. For users is frustrating waiting for an answer that will never arrive. Thanks for the quick reply.

[2016-03-23 16:47] #126 closed

[2016-03-25 05:31] muraribohra opened #127 "getting error while compiling project."
Hello sir, Iam getting error while compiling project. Errors are:
- (void)authenticateWithCompletion:(DGTAuthenticationCompletion)completion __TVOS_UNAVAILABLE;

Expected ":" after __TVOS_UNAVAILABEL
Using xcode 7.0

What to do.
Thanks

[2016-03-25 07:22] #127 closed

[2016-03-25 07:24] muraribohra opened #128 "After login, I am unable to do anything."
Only below screen is occured.

![simulator screen shot mar 25 2016 12 50 57 pm](https://cloud.githubusercontent.com/assets/12935350/14039978/80a791de-f288-11e5-8d03-33c2aed9deea.png)

How to add friends and chat.
Thanks

[2016-03-25 08:41] #128 closed

[2016-03-25 09:10] RenaZhou opened #129 "Returned dialogs list is not accurate in two ways, help needed!"
By using this method: [ServicesManager.instance.chatService.dialogsMemoryStorage dialogsSortByUpdatedAtWithAscending:NO], we expect to get all the dialogs the current user is in, but the returned dialogs list is not accurate in two ways:

1. It lost some dialogs, and we're sure data limit of 'page' parameter is not the reason here;
2. It still returns the dialogs where the user has already left.

[2016-03-25 09:28] Raikerian commented on #129
Hi @RenaZhou

Q-municate does not have ServicesManager singleton class. I guess your problem is related to our samples: https://github.com/QuickBlox/quickblox-ios-sdk
However I need more information from you in order to help you solve your problem (as we do not have such problem in our samples). Please provide us full logs from from app start till the issue occurs.

[2016-03-28 15:26] andres-lago opened #131 "Upgrade to last SDK version"
Hi,
  I'm evaluating your solution. Q-Communicate would be a possible app to reuse but the problem is that it's using a previous QuickBlox SDK, version 2.6.5. Current SDK version is v2.7. Migrating to v2.7 requires some extra work, not convenient for me. In order to going forward with the decision, could you please help with some answers:
  -Till what date will you accept in the server requests fr

[2016-03-28 15:56] iSevenDays commented on #131
Hi @andres-lago ,

We have long term support of SDK versions and we do not force you to upgrade, but new features and bug fixes will be available only to new SDKs.

We don't plan to stop supporting 2.x.x SDK.  You can run even 2.2-2.3, but it is not recommended.

Thanks!

[2016-03-28 15:56] #131 closed

[2016-03-31 08:42] Raikerian commented on #129
@RenaZhou

any updates for this?

[2016-03-31 09:12] RenaZhou commented on #129
Hello @Raikerian ,

Thank you so much for your response on this, and sorry for getting back late. According to what you said that samples don't have the issue, we re-installed the SDK and the issue is gone.

Let me close this issue and thank you for your help again. :)

[2016-03-31 09:12] #129 closed

[2016-06-08 09:59] dmit2k opened #164 "Problem adding contacts"
Wanted to try the platform and the app, registered by phone on one iOS device, by FaceBook on another, and by e-mail from web app.

Now absolutely unclear how to add the contacts to each other instance.

[2016-06-08 10:01] dmit2k commented on #128
Hi! How did you solve this? Searching both Local and Global shows nothing in all apps...

[2016-06-08 11:13] Raikerian commented on #164
Hi,

I can only answer iOS part of question, just open contacts tab and tap on search. You can find users and add them in global search scope.

[2016-06-08 11:20] dmit2k commented on #164
I tried, but can't find myself from another ios device. What should I use for search keyword - my Facebook profile name or what is set in my profile within the app? If one of my devices was registered by phone number - should I use this number to find a contact or by what was set in the app profile?

Anyway, neither works... Whatever I do I can't find my other device.

[2016-06-08 11:20] Raikerian commented on #164
You should search for Q-municate user full name.

[2016-06-08 12:12] dmit2k commented on #164
OK, got it working on ios, global search is terribly slow...

Still having problems finding both ios devices from browser app

[2016-06-08 12:13] Raikerian commented on #164
Please, report web-related problems to a specific repository: https://github.com/QuickBlox/q-municate-web

[2016-06-08 12:22] dmit2k commented on #164
Thank you!

[2016-06-08 12:22] #164 closed

[2016-06-15 11:00] xeravim opened #167 "Recent Dialog List TableView not returning any value"
Hi I have been trying to move the placement of "Chat" Tab to second tab, and the tableview not return anything if it placed on the second.. but If I put it to the first tab, it works normal...

Why is this happening?

[2016-06-15 11:03] Raikerian commented on #167
Hi,

Try to call tableView reloadData method, it is probably happening because data source for dialogs been configured while controller is not on screen.

[2016-06-16 02:00] xeravim commented on #167
Hi,

I have been calling reload data at all over the place on QMDialogsViewController, but still no effect..

I have put reloadData here on QMDialogsViewController

    - (void)configureDataSources {

    self.dialogsDataSource = [[QMDialogsDataSource alloc] init];
    self.placeholderDataSource  = [[QMPlaceholderDataSource alloc] init];

    self.tableView.dataSource = self.placeholderDataSource;

[2016-06-16 02:10] xeravim commented on #167
Or maybe it should be another controller reloadData that I should called?

[2016-06-16 08:28] Raikerian commented on #167
Check what data source you are getting. It should be QMDialogsDataSource.

[2016-06-19 11:57] xeravim commented on #167
It solved by referencing self.tableView.dataSource = self.dialogsDataSource

Thanks Raikerian!

[2016-06-19 11:57] #167 closed

[2016-06-20 05:46] rkumawat opened #170 "I have Installed the pods but QMServicesDevelopment Pod not get installed. And When I try to integrate Core classes of Q-municate Project it gives the error "Expected a type" for QB_NULLABLE."
Kindly suggest me the steps how to integrate and what classes to be integrated to use QuickBlox Chat and Video feature in my Project.

[2016-06-22 14:42] Pro100Andrey commented on #170
Hi @rkumawat
1. [How to create your QuickBlox account] (http://quickblox.com/developers/5_Minute_Guide#Create_your_QuickBlox_account)
2. [How to connect Quickblox framework] (http://quickblox.com/developers/IOS-how-to-connect-Quickblox-framework)
3. [Check Chat Sample](http://quickblox.com/developers/SimpleSample-chat_users-ios)
4. [Check Video / Audio sample] (http://quickblox.com/developers/Samp

[2016-06-24 12:45] Pro100Andrey commented on #170
Hi @rkumawat. Any updates ?

[2016-07-11 10:40] aanchalkalani opened #175 "After login, I am unable fetch my local (Device) Contacts"
![simulator screen shot jul 11 2016 4 03 26 pm](https://cloud.githubusercontent.com/assets/6301399/16727906/054d684e-4781-11e6-8c42-7cb6cd85eb11.png)

Hi,

We are unable to fetch the device contact list the iOS application.

1. We allowed in settings of our application(Web) to download users :- Check "Allow to retrieve a list of users".
2. We search the users Locally and Globally but nothing happe

[2016-07-11 10:50] Raikerian commented on #175
Hi,

There is no such feature as fetching device contact list. That contact list represents your Quickblox contact list.

[2016-07-12 08:59] Raikerian commented on #170
@rkumawat

We haven't hear any updates from you, if you are still experiencing this issue- just reopen it. If you have any other problems, feel free to create a separate issue.

[2016-07-12 08:59] #170 closed

[2016-07-25 22:46] Loborro commented on #175
Its easy, just go to your quickblox admin panel, click to your app, in overview, in the corner, there is a tab that say SETTINGS, in this secction mark the combobox that say "Allow to retrieve a list of users".

[2016-08-02 11:18] Raikerian commented on #175
If you have any other questions, feel free to let us know by creating a separate issue.

[2016-08-02 11:18] #175 closed

[2016-08-12 09:29] tranngoclinh88 opened #182 "How can I display messages direction from Top to Bottom?"
Currently, messages are displayed from bottom then move to top. So, how can I display messages like Normal CollectionView Layout?

[2016-08-17 02:49] tranngoclinh88 opened #183 "Can not run QMServices 0.4.4"
Here is the error after update to 0.4.4
<img width="1381" alt="screen shot 2016-08-17 at 9 48 34 am" src="https://cloud.githubusercontent.com/assets/1511264/17722899/f09ee8f4-645f-11e6-903f-d36222cfd2a9.png">

[2016-08-18 10:03] #182 closed

[2016-08-19 11:00] VitaliyGuru commented on #183
@tranngoclinh88 Have you fixed this issue?

[2016-08-19 11:50] tranngoclinh88 commented on #183
No. I'm using 0.4.3.

[2016-08-19 16:36] #183 closed

[2016-08-22 07:18] KuriakosePious commented on #170
[!] Error installing QMCVDevelopment
[!] /usr/bin/git clone git@github.com:QuickBlox/QMChatViewController-ios.git /var/folders/1j/dds4dz3d4p1fvw2xbfdj4kh00000gq/T/d20160822-10605-irwj1h --template= --single-branch --depth 1 --branch development

Cloning into '/var/folders/1j/dds4dz3d4p1fvw2xbfdj4kh00000gq/T/d20160822-10605-irwj1h'...
Permission denied (publickey).
fatal: Could not read from remote

[2016-08-22 09:37] Kuriakose3 commented on #170
@Pro100Andrey  @Raikerian

[!] Error installing QMCVDevelopment
[!] /usr/bin/git clone git@github.com:QuickBlox/QMChatViewController-ios.git /var/folders/1j/dds4dz3d4p1fvw2xbfdj4kh00000gq/T/d20160822-10605-irwj1h --template= --single-branch --depth 1 --branch development

Cloning into '/var/folders/1j/dds4dz3d4p1fvw2xbfdj4kh00000gq/T/d20160822-10605-irwj1h'...
Permission denied (publickey).
fatal:

[2016-08-22 10:36] Kuriakose3 commented on #170
@VitaliyGuru  @Pro100Andrey  @Raikerian  getting this warning
Hi Kuriakose3! You've successfully authenticated, but GitHub does not provide shell access.

[2016-08-22 11:10] Kuriakose3 opened #185 "Pod file QMCVDevelopment not installing"
Pod file  QMCVDevelopment not installing

SSH file created and uploaded in github

When i try `ssh -T git@github.com`

When installing podfile,
[code]

[2016-08-22 11:52] Kuriakose3 commented on #185
Verbose file,

[code]

[2016-10-04 12:30] Raikerian commented on #185
@Kuriakose3 were you able to fix this?

[2016-10-04 12:46] KuriakosePious commented on #185
@Raikerian  fixed by adding needed files manually .

[2016-10-18 10:51] phiren opened #195 "Dialogs cache issue"
Hello,

Below code returns 0 dialogs even though there are two dialogs exist. (Both are public dialog)
`func dialogs() -> [QBChatDialog]? { return ServicesManager.instance().chatService.dialogsMemoryStorage.dialogsSortByUpdatedAtWithAscending(false) }
`
While if use below code, it returns two dialogs

[code]
Not sure, What's going wrong.

[2016-10-18 12:38] phiren commented on #195
The problem might be with public dialog only, not sure still i have not tested 1-1 chat, but here is my workaround to solve above problem:

Class : QMChatServices.m

Function: loadCachedDialogsWithCompletion
Changed it with below wayL
`
- (void)loadCachedDialogsWithCompletion:(dispatch_block_t)completion {

    __weak __typeof(self)weakSelf = self;

    if ([self.cacheDataSource respondsToSelector

[2016-10-22 11:03] nectarbits opened #196 "#import <Quickblox/Quickblox.h> not found"
Steps for issue

download (https://github.com/QuickBlox/q-municate-ios)
create new demo application
add new pod file
copy all pod listed in downloaded project ,
copy in pod file  , created in new demo application ,
install pod (using github account)

Run application
here it says that , #import < Quickblox/Quickblox.h > not found  in QBChatMessage+QBDateDivider.h file

[2016-10-24 07:46] nectarbits commented on #195
after installing pod in new demo project , here it says that , #import < Quickblox/Quickblox.h > not found in QBChatMessage+QBDateDivider.h file

now , what to do ?

[2016-10-24 09:31] Raikerian commented on #185
If you are still having any other troubles, please let us know by creating a separate issue.

[2016-10-24 09:31] #185 closed

[2016-10-24 09:33] Raikerian commented on #195
Hi @phiren

There is no support for public chats at this moment. You can use your own fix fow now.

[2016-10-24 09:33] #195 closed

[2016-10-24 09:34] Raikerian commented on #196
Hi,

Why are you creating a new podfile and what is the reasoning behind not using ours?

[2016-10-25 10:17] nectarbits commented on #196
We have a project where chat is one module out of major 10 modules.
which require One to One Chat and Group chat with text , image , video , product and link sharing features so we have to import whole your project into our project so our other module also don't affect.

So kindly provide the suggestion why we are facing above issue.

Your help will be appreciated. Looing forward for your response

[2016-10-25 11:14] Raikerian commented on #196
Have you installed Quickblox framework? Through pods or manual installation ([details](http://quickblox.com/developers/IOS-how-to-connect-Quickblox-framework)).

[2016-10-25 13:47] nectarbits commented on #196
i just copy Quickblox framwork package from Q-municate framwork folder . and drag in demo application framwork folder ,

[2016-10-26 07:52] Raikerian commented on #196
You can't just drag and drop framework into project folder to make it work, please follow our installation steps here: http://quickblox.com/developers/IOS-how-to-connect-Quickblox-framework

[2016-11-04 10:58] VitaliyGuru commented on #196
@nectarbits  Any updates?

[2016-11-11 14:53] nectarbits commented on #196
HI, Finally we successfully migrated into our development. Now we would like to utilize for video and link sharing. DO you have any idea how we can do that ?

[2016-11-21 15:09] heavyBug opened #199 "How to hang up a single user from conference call?"
I have seen a function in Android SDK
public void procHangUpOpponent(Integer opponentID,
                      Map<String,String> userInfo)
Close channel with concrete opponent
Parameters:
opponentID -

But there is no any method in ios SDK which can be called to hang up a specific user.

Any help will be appreciated

[2016-11-21 15:25] Raikerian commented on #199
This issue is related to an SDK and you've already created it there: https://github.com/QuickBlox/quickblox-ios-sdk/issues/665

Let's stick to one thread.

[2016-11-21 15:25] #199 closed

[2016-11-21 15:26] heavyBug commented on #199
Thanks for immediate reply but I am in trubble ... You have used it
if you can help me

On 21 Nov 2016 8:25 PM, "Vitaliy Gorbachov" <notifications@github.com>
wrote:

[2016-11-21 15:32] Pro100Andrey commented on #199
Hi @heavyBug, [Use this method of delegate](https://github.com/QuickBlox/quickblox-ios-sdk/blob/master/Framework/QuickbloxWebRTC.framework/Versions/A/Headers/QBRTCClientDelegate.h#L82)

[2016-11-21 15:35] Raikerian commented on #199
Stick to the main issue here: https://github.com/QuickBlox/quickblox-ios-sdk/issues/665

[2016-11-24 14:34] VitaliyGuru commented on #196
@nectarbits Could you please create a new issue for your questions?
Closing this for now.

[2016-11-24 14:34] #196 closed

[2016-11-30 09:51] ErAshu opened #201 "QMServicesDevelopment/QMDBStorage/QMDBStorage/QMCDRecord/Categories/CoreData/NSManagedObjectModel+QMCDRecord.h:16:120: Expected identifier"
Getting Error in NSManagedObjectModel+QMCDRecord.h
See attached Screenshot
<img width="733" alt="screen shot 2016-11-30 at 11 33 15 am" src="https://cloud.githubusercontent.com/assets/4178384/20747601/ac4586a0-b710-11e6-8422-c70bb0a34e0c.png">

[2016-11-30 09:56] Raikerian commented on #201
Hi,

Well, you can clearly see the error. Why do you have a space between `(Class)` class declaration and identifier name `class`?
I don't see such problem in our project: https://github.com/QuickBlox/q-municate-ios/blob/master/Pods/QMServicesDevelopment/QMDBStorage/QMDBStorage/QMCDRecord/Categories/CoreData/NSManagedObjectModel%2BQMCDRecord.h

[2016-11-30 10:02] ErAshu commented on #201
I have removed the space but still geting same error. See screenshot
<img width="770" alt="screen shot 2016-11-30 at 3 31 12 pm" src="https://cloud.githubusercontent.com/assets/4178384/20747950/2a48776e-b712-11e6-9903-bd62d38a0792.png">

[2016-11-30 10:19] Raikerian commented on #201
Is your project written in swift? Try to replace `class` with `aClass`, does it help?

[2016-11-30 10:26] ErAshu commented on #201
No, my project is written in Objective C in Xcode Version 8.1 (8B62)

[2016-11-30 10:43] Raikerian commented on #201
Did rename help you? If not then try to reinstall pods.

[2016-11-30 11:00] ErAshu commented on #201
I have renamed but still same issue raise.
I have manually install not from POD. Please provide pod install step.

[2016-11-30 11:02] Raikerian commented on #201
Here is how to install with CocoaPods: https://github.com/QuickBlox/q-municate-services-ios#1-cocoapods

[2016-12-01 06:36] ErAshu commented on #201
I have install with Cocoapods but now gettting this error.
I have create a fresh project and add these line in podfile.
pod 'QMServices'
pod 'QMChatViewController'
pod 'SearchEmojiOnString'
pod 'UIAlertView+Blocks'
pod 'Fabric'
pod 'Crashlytics'
pod 'MPGNotification'

Now getting this error
/Project/testingQM/Pods/Target Support Files/QMServices/QMServices-prefix.pch:5:9: 'Quickblox/Quickblox.h' f

[2016-12-28 15:12] Anilkr91 opened #202 "[BITCODE] error when uploading archieve to appstore"
ERROR ITMS-90635: "Invalid Mach-O Format. The Mach-O in bundle "HeartKeeper.app/Frameworks/Quickblox.framework" isn’t consistent with the Mach-O in the main bundle. The main bundle Mach-O contains armv7(machine code) and arm64(machine code), while the nested bundle Mach-O contains armv7(bitcode) and arm64(bitcode). Verify that all of the targets for a platform have a consistent value for the ENABL

[2016-12-28 15:13] Anilkr91 opened #203 "Error in QMChatCacheModel bundle"
ERROR ITMS-90542: "Invalid CFBundleSupportedPlatforms value. The key 'CFBundleSupportedPlatforms' in the Info.plist file in bundle 'Payload/HeartKeeper.app/QMChatCacheModel.bundle' contains an invalid value '[iPhoneSimulator]'. Consider removing the CFBundleSupportedPlatforms key from the Info.plist. If this bundle is part of a third-party framework, consider contacting the developer of the framew

[2016-12-28 15:14] Raikerian commented on #202
Hi,

Where are you getting this error?
Q-municate has bitcode disabled for now, cause it is shipped with QuickbloxWebRTC framework which is not supporting bitcode for now.

[2016-12-28 15:22] Anilkr91 commented on #202
so what is the workaround for now..

[2016-12-28 15:22] Raikerian commented on #202
At first I need to know where are you getting this error, at least.

[2016-12-28 15:24] Anilkr91 commented on #202
i am done with making an archieve of the app but when i upload the archieve to the appstore this  error comes after few minutes.

[2016-12-28 15:27] Anilkr91 commented on #202
should i downgrade the version of the pod ...?

[2016-12-28 15:27] Raikerian commented on #202
It wouldn't help probably in your case. Try this http://stackoverflow.com/questions/37689054/sudden-error-when-uploading-to-itunesconnect-itms-90635-invalid-mach-o-format

[2016-12-29 11:41] Anilkr91 opened #204 "error when pod install: target has transitive dependencies that include static binaries"
The 'Pods-HeartKeeper' target has transitive dependencies that include static binaries: (/Users/anilkumar/Desktop/ProntoITLabs/Developer/heart-keeper-ios/Pods/QuickBlox/Quickblox.framework)

[2016-12-29 12:47] VitaliyGuru commented on #204
@Anilkr91  You should change `pod 'QuickBlox', '2.7.2'` with `pod 'QuickBlox', '2.7.5'`.

QuickBlox is released as a dynamic framework since version 2.7.5.

[2016-12-29 12:57] VitaliyGuru commented on #203
@Anilkr91 Could you please provide QMServices version?

[2016-12-29 13:44] Anilkr91 commented on #203
I have added QMServices Manually

[2016-12-29 15:03] VitaliyGuru commented on #203
You can open folder which contains QMServices. There you can find the file with "podspec" extension.
Could you, please open this file and tell `s.version`?

[2017-01-03 11:42] VitaliyGuru commented on #202
@Anilkr91, Hello. Any updates?

[2017-01-03 11:46] Anilkr91 commented on #204
Issue is resolved by including the 'QuickBlox', '2.7.5'  version . Thanks

[2017-01-03 11:46] #204 closed

[2017-01-03 11:48] Anilkr91 commented on #202
i was able to upload the binary when i deselect the use bitcode option when uploading to Appstore.. Do you have any other way around to solve the issue.

[2017-01-17 11:14] singhnitesh opened #206 "Info needed about cocoapod of this project"
Hi,
I wished to know if there's cocoapod for this project.
Thanks

[2017-01-17 11:23] VitaliyGuru commented on #206
@singhnitesh , Hello. Q-municate contains next components:

- [Quickblox SDK](https://github.com/QuickBlox/quickblox-ios-sdk)
- [QMServices](https://github.com/QuickBlox/q-municate-services-ios)
- [QMChatViewController](https://github.com/QuickBlox/QMChatViewController-ios)
- [Quickblox webrtc SDK](https://quickblox.com/developers/Sample-webrtc-ios#Getting_Started_with_Video_Calling_API).

All the

[2017-01-17 11:26] VitaliyGuru commented on #203
@Anilkr91 , Any updates?

[2017-01-17 11:27] VitaliyGuru commented on #202
@Anilkr91 , We're working on it, but, unfortunately, there is no ETA.

[2017-01-18 05:34] singhnitesh commented on #206
Hi @VitaliyGuru
I've looked at the components, love the abstraction, but my use case is very similar to your Qmunicate implementation where all these components come together and shine. My project is in swift to which I need to add chat functionality and I was hoping I wouldn't have to re-invent the wheel and I could like extend only certain classes from this project only.
Anyways, thanks for the

[2017-01-18 13:37] #206 closed

[2017-01-24 16:58] Anilkr91 commented on #203
i have removed the  CFBundleSupportedPlatforms key from the Info.plist and it is working for me

[2017-01-24 17:01] Anilkr91 opened #207 "how to open a incoming screen when some one is trying to call when the app is in backgroud mode"

[2017-02-02 12:35] Pro100Andrey commented on #202
@Anilkr91  resolved, QuickbloxWebRTC.framework supports bitcode now

[2017-02-02 12:35] #202 closed

[2017-02-02 12:36] #203 closed

[2017-02-06 11:32] VitaliyGuru commented on #201
@ErAshu, Have you fixed the issue?

[2017-02-06 11:40] ErAshu commented on #201
Yes, I had install it by POD. This issue not regenerate but another issue.

[2017-02-08 05:22] Uday-1985 opened #209 "Forbidden.need user. Bad gateway. connection related issues."
Hi There,

I am facing chat connection related issues in iOS q-municate (v2.2.1) project. Please find the attached details and logs below and any help/suggestions would be greatly appreciated.

**errors.rtfd.zip** - removed (Pro100Andrey)
Thanks,

[2017-02-08 05:27] Uday-1985 opened #210 "Chat failed to connect.not authorized.passowrd not verified issue: Q-municate iOS(v2.2.1) issue"
Hi There,

I am facing Chat failed to connect issues in iOS q-municate project(v2.2.1).Please find the attached details.Feel free to reach me for any additional details.

![chat failed to connect](https://cloud.githubusercontent.com/assets/14942241/22724609/4872e1fe-eded-11e6-8d42-59990822fe8f.PNG)

Thanks,

[2017-02-09 13:58] nikunjazilen opened #211 "Error: Build Issue in QMMessagesMemoryStorage.m file"
Hi,
I want to integrate chat and video feature into my app using this demo but while I installed the `pod 'QuickBlox', '~> 2.9'` and getting the so many errors in `QMMessagesMemoryStorage.m` file.

Build Errors
[code]
Can you help me to resole this issue?

Thanks

[2017-02-09 14:08] VitaliyGuru commented on #211
@nikunjazilen, Hello. What version of QMServices are you using?

[2017-02-10 05:59] nikunjazilen commented on #211
Hi,

Thanks for the reply. Issue has been resolve after installed Pod QMServices. Before that I just copy the files from source code and paste it and I think it was in under development. I am using latest pod version of QuickBlox 2.9.1

Now, I m facing other build errors in the QBChatMessage+QMCallNotifications.m class file. There are so many errors in this class.

[code]

Can you please help me t

[2017-02-10 13:53] VitaliyGuru commented on #211
@nikunjazilen, Try to import QBUpdateUserParameters category in the QMTasks.m class file or pch file of the project.
[code]
BTW It's better to start with sample. []

[2017-02-13 07:54] nikunjazilen commented on #211
Hi,

Still getting error in the below file.

@implementation QBUpdateUserParameters (CustomData)
//Property implementation must have its declaration in the category 'CustomData'
@dynamic avatarUrl;
@dynamic status;
@dynamic isImport;

Thanks

[2017-02-16 06:47] videhjaiswal opened #212 "QuickBlox error"
Terminating app due to uncaught exception 'NSInternalInconsistencyException', reason: 'Invalid parameter not satisfying: [QMCore instance].currentProfile.userData'

[2017-02-16 06:51] videhjaiswal opened #213 "Custom Q-municate implementation error"
NSParameterAssert([QMCore instance].currentProfile.userData); always crash on this line ...

[2017-02-16 06:55] VitaliyGuru commented on #212
closed as [https://github.com/QuickBlox/q-municate-ios/issues/213](duplicate)

[2017-02-16 06:55] #212 closed

[2017-02-16 06:57] VitaliyGuru commented on #213
@videhjaiswal, Hello. What Q-municate version are you using? Have you made changes in the project?

[2017-02-16 07:19] videhjaiswal commented on #213
![screen shot 2017-02-16 at 12 22 11 pm](https://cloud.githubusercontent.com/assets/25812816/23011311/4a2e83cc-f446-11e6-9a7a-0977e53bdded.png)
![screen shot 2017-02-16 at 12 46 21 pm](https://cloud.githubusercontent.com/assets/25812816/23011319/5c773236-f446-11e6-8c71-6e52dd357729.png)
 I am Using Qmunicate 2.0

[2017-02-16 07:20] videhjaiswal commented on #213
What i do to resolve this crash......

[2017-02-16 07:22] #210 closed

[2017-02-16 13:48] Uday-1985 commented on #210
Hi Pro100Andrey,

Have you found a fix for this error?.

[2017-02-16 13:51] Pro100Andrey commented on #210
Hi @Uday-1985,   Please find comments below:
 1. You provided a screenshot of client side application, that looks similar to Q-municate, but is not a Q-municate.
   2. Q-municate application v 2.2.1 is outdated. Please update Q-municate code up to latest version and test if issue occur.
   3. Please keep in mind that Q-municate application is a separate product and is not a part of QuickBlox core

[2017-02-16 14:21] VitaliyGuru commented on #213
@videhjaiswal,  As for first crash: Q-municate application v 2.0 is outdated. Please update Q-municate code to the latest version and test if the issue occurs.

What version of QMServices are you using?

[2017-02-22 16:52] orlydonx commented on #207
Does the PushKit implemented on the latest version of qmunicate already? https://quickblox.com/developers/SimpleSample-messages_users-ios

[2017-02-22 16:58] VitaliyGuru commented on #213
Closed due to a lack of response.

[2017-02-22 16:58] #213 closed

[2017-02-28 20:42] rcorin opened #214 "Photos not being shown on q-municate chat app"
There is a 500 server error:

2017-02-28 17:38:02.771521 Q-municate[49057:12368391] [QBCore] Response error: Error Domain=com.alamofire.error.serialization.response Code=-1011 "Request failed: internal server error (500)" UserInfo={com.alamofire.serialization.response.error.response=<NSHTTPURLResponse: 0x170429d00> { URL: https://qbprod.s3.amazonaws.com/ } { status code: 500, headers {
    Connect

[2017-02-28 20:46] rcorin commented on #214
In the console under Content it appears the action, with status "Not uploaded"

[2017-02-28 20:51] soulfly commented on #214
We are currently experiencing AWS outage
More info here on status https://status.aws.amazon.com/

[2017-02-28 20:51] #214 closed

[2017-03-02 06:39] DanialRana opened #215 "Message Attachment Support for pdf , audio and video."
how can i integrate support attachment support for pdf files, audio and video files. Any help or ideas would be great.

[2017-03-02 08:02] #215 closed

[2017-03-07 12:05] VitaliyGuru commented on #207
@Anilkr91, @orlydonx  PushKit hasn't been implemented yet.

[2017-03-07 12:06] #201 closed

[2017-03-07 12:06] #209 closed

[2017-03-20 09:01] VitaliyGuru commented on #211
@nikunjazilen, Hello. Have you resolved this issue?

[2017-03-26 14:33] #211 closed

[2017-04-26 11:46] poojaargalon opened #216 "global contacts are not visible"
while running this project i am unable to see global contacts though i am running project on device.

[2017-04-27 12:55] VitaliyGuru commented on #216
@poojaargalon,
Could you please enable full logs, produce the bug and send us this information?

[code]

[2017-05-08 11:42] VitaliyGuru commented on #216
@poojaargalon, Any updates?

[2017-05-09 05:54] VaibhavMehta25Feb opened #217 "QMcore Crash"
I have used "Q-municate" code into my test app , I am able to compile the code. But while running the code my app is crashing at
[QMContactListCache setupDBWithStoreNamed:kQMContactListCacheNameKey applicationGroupIdentifier:[self appGroupIdentifier]];
in QMCore class.
Can you please help me in resolving this issue, also if you can let me know all steps to integrate Q-municate app in to my app dir

[2017-05-11 09:15] VitaliyGuru commented on #217
@VaibhavMehta25Feb, Could you please specify the branch(or commit) of Q-municate source code and QMServices version?

[2017-05-24 16:13] #216 closed

[2017-05-24 16:13] #217 closed

[2017-07-22 02:23] syedqamara opened #232 "Apple Reject Binary for using UIBackgroundMode for Audio."
Guideline 2.5.4 - Performance - Software Requirements

Your app declares support for audio in the UIBackgroundModes key in your Info.plist but did not include features that require persistent audio.

The audio key is intended for use by apps that provide audible content to the user while in the background, such as music player or streaming audio apps. Please revise your app to provide audible cont

[2017-07-22 02:24] syedqamara opened #233 "Reject Binary for using UIBackgroundModes audio."
Guideline 2.5.4 - Performance - Software Requirements

Your app declares support for audio in the UIBackgroundModes key in your Info.plist but did not include features that require persistent audio.

The audio key is intended for use by apps that provide audible content to the user while in the background, such as music player or streaming audio apps. Please revise your app to provide audible cont

[2017-07-29 15:39] dungnc opened #235 "Push notifications not working"
Hi, my app is working well until 07/28/2017
I'm check in "Queue" at Admin page and it's show me:
[https://gyazo.com/0f1e37f0d461eb2c54ee4c3966cd9529](url)
My app id is: 49976

Please help me, thanks for your supporting

[2017-07-31 08:02] Raikerian commented on #235
Hi, please stick to one issue: https://github.com/QuickBlox/quickblox-ios-sdk/issues/842

[2017-07-31 08:02] #235 closed

[2017-08-09 01:52] kittlsk opened #241 "Logout throwing uncaught exception of type NSException"
I downloaded the ios app and replaced the app credentials as instructed in https://quickblox.com/developers/Q-municate#Q-municate_iOS

The following exception thrown whenever Logout is clicked:
libc++abi.dylib: terminating with uncaught exception of type NSException

And the following line under the function main() in q-municate-ios-master/Q-municate/Supporting Files/main.m gets highlighted:

[2017-08-11 12:12] Russelldor opened #248 "How to get the number of unread messages from Quickblox?"
The BE has to send a push notification with a field ios_badge where we need to have a number of unread messages. How should we do it on the BE? We need to place that number on top of the IOS app icon.

[2017-08-16 08:35] Russelldor commented on #248
Anyone?

[2017-08-29 13:29] krishnads opened #258 "Chats are not being saved in Core data"
I am using Qmunicate to develop my own app. I am not able to get chats offline from core data. Getting the following error.

error: -executeRequest: encountered exception = I/O error for database at /Users/latika/Library/Developer/CoreSimulator/Devices/49C916CC-FDF0-46EA-BD7B-9D73B3F168C9/data/Containers/Data/Application/7FB3534D-EC37-4BE1-A525-F8FCBA44D62C/Library/Application Support/Q-municate/s

[2017-08-29 13:54] Pro100Andrey commented on #258
Hi @krishnads, reset your simulator, and try again

[2017-08-29 14:12] krishnads commented on #258
Thanks. It Worked...

[2017-08-29 14:12] #258 closed

[2017-09-18 12:51] VitaliyGuru commented on #241
@kittlsk, Please add full logs, also add exception breakpoint and send us the call stack on the crash.

[2017-09-19 00:57] kittlsk commented on #241
Attached please find full log and screen capture on the error break point.

<img width="1280" alt="screen shot 2017-09-19 at 8 49 37 am" src="https://user-images.githubusercontent.com/1089095/30571042-a064bcc8-9d17-11e7-9586-1273e4552146.png">

[log.txt](https://github.com/QuickBlox/q-municate-ios/files/1312710/log.txt)

[2017-09-19 11:26] gbr33 opened #272 "Localization Auth.storyboard"
Hi
I got 2 Errors when I Localization Auth.storyboard
IB Designables Group
1- /Scenes/Auth/Base.lproj/Auth.storyboard: error: IB Designables: Failed to render and update auto layout status for QMWelcomeScreenViewController (ncs-B4-uAJ): Failed to load designables from path (null)

2- /Scenes/Auth/Base.lproj/Auth.storyboard: error: IB Designables: Failed to update auto layout status: Failed to load

[2017-09-19 14:38] VitaliyGuru commented on #272
@gbr33, This issue is not related to our SDK and Q-municate. This is a Xcode's bug.
Just
- remove derived data.
- restart the Xcode for now.
- clean project
for now.

[2017-09-19 14:38] #272 closed

[2017-09-20 15:40] VitaliyGuru commented on #241
@kittlsk  This crash is fixed in the lastest Quickblox SDK version.

[2017-09-20 15:40] #241 closed

[2017-09-21 02:08] kittlsk opened #275 "Chat dialogs list screen does not list any previous chat history after clearing app from device memory"
I downloaded the latest iOS app and found out that the Chat dialogs list screen doesn't list any previous chat history after clearing the app from device memory.  I would need to go to Contacts screen, and click on individual contact and Send message link to retrieve the existing chat history, then go back to Chats screen and the chat history will then appear.

Logout and relogin doesn't have this

[2017-09-22 08:11] gbr33 opened #277 "Digits localization not loading"
Hi
After localizing and testing login with phone Digits not loading the localization language it show in English only, tested on simulator and iPhone 4 , 4s

![screen shot 22 sep 2017 9 49 15 am](https://user-images.githubusercontent.com/18315898/30735146-335d35c4-9f7e-11e7-804b-fbad532719d9.png)

Thanks

[2017-09-28 12:41] VitaliyGuru commented on #277
@gbr33, The Digits SDK will be retired on September 30, 2017. Q-municate has been migrated to Firebase. [More info] (https://get.digits.com/blog/introducing-firebase-phone-authentication).

[2017-09-28 12:41] #277 closed

[2017-10-18 14:45] gbr33 opened #287 "How to localize strings inside pods folder ?"
Hi
How can I localize strings inside pods folder like following image inside :

![simulator screen shot - iphone 8 plus - 2017-10-18 at 16 32 28](https://user-images.githubusercontent.com/18315898/31724582-739d7c4e-b422-11e7-92ed-7ad2a8840185.png)

Thanks a lot

[2017-11-13 07:19] hemant236 opened #289 "Maintain chat history for specific duration"
Is there any way in the Quickblox framework with that I can delete chat after 7 days in particular conversation?

[2017-11-13 12:28] anil03 opened #290 "Not able to run the project"
I downloaded the project Q-municate-ios. I tried to run the project and when i entered the Phone number. It shows the error "Something went wrong, Please try again later".

Please see the screen shot.
![simulator screen shot - iphone 8 plus - 2017-11-13 at 17 58 04](https://user-images.githubusercontent.com/602883/32725736-3b84b870-c89c-11e7-9e3e-981be2dfa032.png)

[2017-11-13 16:02] VitaliyGuru commented on #290
@anil03, Hello, You have tried to test on the simulator, haven't you? Try it again with the real device.

[2017-11-14 09:50] anil03 commented on #290
Yes, I tried on the Simulator.

[2017-11-16 14:54] VitaliyGuru commented on #290
@anil03, Please try again on the device. In our case, Firebase verification is based only on silent APNs notifications, so you can't be logged in via Firebase on the simulator.

[2017-11-16 14:54] #290 closed

[2017-12-01 09:46] anil03 opened #292 "How to check contact into chat"
Hi,
I am using the Q-municate-iOS chat application for may project.
I created the account into QB and I am able to run the project.
When I signed in through two mobile number in same device but I am confuse how to chat. I am not getting other contact into my Contact list of app.
Everything looks like blank.

Please let me know any error

[2017-12-05 13:06] shahkevin23 opened #293 "Login problem"
After replacing the credentials still i'm able to login into.
Please guide me
![screen shot 2017-12-05 at 6 30 17 pm](https://user-images.githubusercontent.com/24786934/33608567-eda36ef2-d9ea-11e7-9c27-d032c5369849.png)

[2017-12-08 10:05] anil03 commented on #290
I tried on device.
I tried on iPhone 6s and I am able to login.
but when I am trying to another device such iPhone SE. I am getting the same error "Something went wrong".

[2017-12-08 10:08] anil03 opened #295 "Can I customise the Login with Phone UI Using Firebase."
I am trying to use the q-municate app for my custom. chat.

I need to log in with Phone Only. Is it possible to use the FIREBASE and My own custom UI for the registration?

Please see the image
![whatsapp image 2017-12-08 at 3 42 43 pm](https://user-images.githubusercontent.com/602883/33761344-ad76685c-dc2e-11e7-9b1c-c1f2ddf2a29a.jpeg)
![whatsapp image 2017-12-08 at 3 43 38 pm](https://user-images

[2017-12-11 13:34] VitaliyGuru commented on #293
@shahkevin23,
Could you please enable full logs and send us this information?

[code]

[2017-12-11 13:38] VitaliyGuru commented on #292
@anil03, You should add each other to the contact list by searching in the 'global search', adding as the friend and confirming 'friend request'.

[2017-12-11 13:40] VitaliyGuru commented on #289
@hemant236, Hello.
There is no such feature. You should do it by yourself.

[2017-12-11 13:40] #289 closed

[2017-12-14 13:42] VitaliyGuru commented on #293
@shahkevin23, Any updates?

[2017-12-20 04:10] shahkevin23 commented on #293
Apology for late response

[2017-12-20 20:17] #292 closed

[2017-12-29 03:14] martyndix opened #301 "After closing app and re-opening, previous chats disappear"
When I close the app and re-open it, my previous chats disappear. If I log out then log in again, they come back. All the time the chats and contacts etc remain visible in QuickBlox.
Any assistance with this much appreciated.
Thanks,
Martyn.

[2017-12-29 15:14] VitaliyGuru commented on #301
Please use the last version of Q-municate. Have you performed any custom changes?

[2017-12-29 15:15] martyndix commented on #301
I am using the latest version and not made any custom changes.

[2017-12-29 15:17] VitaliyGuru commented on #301
Could please take the last version of Q-municate from the dev branch? And please delete the app before installing and use your credentials.

[2017-12-29 15:25] VitaliyGuru commented on #301
If it doesn't help please add full logs.

[code]

[2018-01-03 11:18] VitaliyGuru commented on #301
@martyndix, Any updates?

[2018-01-03 13:35] martyndix commented on #301
I'm still having the problem but only with iOS. I am not really sure what I am doing to be honest.
What do I do with:
[QBSettings setLogLevel:QBLogLevelDebug];
[QBSettings enableXMPPLogging];

Please explain what I do with this.
Thanks,
Martyn.

[2018-01-10 13:01] martyndix opened #305 "Will not build in Xcode"
I am getting the following error when trying to build in Xcode:

`/Users/XXXXXXX/Library/Developer/Xcode/DerivedData/Q-municate-hjmwzimjzrrjlnghteggabkoiipq/Build/Intermediates.noindex/Q-municate.build/Debug-iphonesimulator/Q-municate.build/Script-584B79C41C452A7A00356FB9.sh: line 2: /Users/XXXXXXX/Downloads/XXXXXXX: No such file or directory`

Does anyone have any ideas please?

[2018-01-10 13:07] martyndix commented on #305
I have cleaned the build, tried deleting derived data and restarted Xcode as well as my machine and I am getting the same problem.

[2018-01-10 13:14] martyndix commented on #305
Ok, I have found the solution!

The path where your project is stored should have no spaces. I had mine in a folder with a space in the folder name and I had the problem. I re-named the folder replacing the space with a '-' and all was fine.

I hope someone else finds this useful - I have wasted hours trying to sort this!

Best wishes,
Martyn.

[2018-01-10 13:14] #305 closed

[2018-01-10 15:49] VitaliyGuru commented on #301
You should add this code to AppDelegate's method 'didFinishLaunching '

[2018-01-10 16:14] VitaliyGuru commented on #275
@kittlsk, We have tested described behavior and haven't faced this issue.
Please add full logs and any helpful information to reproduce this issue.

[2018-01-23 12:18] VitaliyGuru commented on #293
@shahkevin23, Your logs aren't full. Please add full logs.

[2018-01-30 17:19] martyndix opened #316 "iOS v2.7"
Hello,
I have just tried to use the new version of Q-municate in Xcode however when I go to the file: AppDelegate.m there is no option on line 20 to enter the quickblox numbers such as app ID, authorisation key etc.
Please can someone help me with where I need to enter these values to connect the app to my QuickBlox?
Many thanks,
Martyn.

[2018-01-31 09:15] Pro100Andrey commented on #316
Hi @martyndix, any updates?

Thanks

[2018-01-31 09:31] martyndix commented on #316
Thanks Andrey, all sorted!
Your help is very much appreciated.
Martyn.

[2018-01-31 20:07] #316 closed

[2018-02-28 09:23] #301 closed

[2018-02-28 09:24] #275 closed

[2018-02-28 09:25] #293 closed

[2018-03-04 12:38] gbr33 opened #320 "App Store Binary Rejected - Guideline 1.2 - Safety - User Generated Content"
Hi
After submitting your original 2.6 release on App Store it get rejected here what they wrote to me :
-------------------------------------
Binary Rejected

Guideline 1.2 - Safety - User Generated Content

Your app enables the display of user-generated content but does not have the proper precautions in place.

Next Steps

To resolve this issue, please revise your app to implement all of the fol

[2018-03-06 14:19] gbr33 commented on #320
I got a new respond from App Store Review says :
------------------------
- Thank you for your response. To clarify, while our App Store Review Guidelines is a living document and subject to change, all social networking apps are subject to meet compliance with guideline 1.2.0.

In order for your app to be reconsidered for the App Store, it would be appropriate to bring your app into compliance.

[2018-03-06 15:29] Raikerian commented on #320
Hi @gbr33

It seems like you need to add some kind of "report abuse" button. Add it to a profile, so any user can report another user for some kind of misbehaviour. Make that button to send a user-input text to any of you email or system user, for example.
We haven't met such requirements in Q-municate yet, but will surely add it in a future if needed.

For now you have to implement that feature b

[2018-03-08 05:26] Pushpganga25 opened #327 "Can I Add New features like live streaming"
Hello Sir, I am working with quickblox it is possible to add live broadcasting in q-municate app...

[2018-03-09 05:33] Pushpganga25 opened #328 "How to add group video calling in q-municate"
There is some issue for group id or tag-id

[2018-03-09 05:33] #328 closed

[2018-03-14 09:19] MiteshiOS opened #329 "How to customise whole QMChatCell ?"
Please let me know how can i customise whole QMChatCell. Also in demo on tap of cell full view of cell is appear but i didn't want like that. I want separate message and status in cell. Also provide me suggestion in a way that so i can add some more info if require in future. Also i want to customise chat bubble, let me know is it possible or not. Please review the attached screenshot for more inf

[2018-03-15 13:54] VitaliyGuru commented on #327
@Pushpganga25, Hello.
To get in touch and discuss your requirement please submit enterprise request on [our website]( https://quickblox.com/enterprise/)

[2018-03-15 13:54] #327 closed

[2018-03-19 18:03] #320 closed

[2018-03-19 18:03] #207 closed

[2018-03-21 13:32] testingmyaccount opened #330 "How to implement CallKit while app is in Background or Kill ?"
In demo code i found that CallKit incoming call screen is appear when app is active, but nothing happen except notification while doing call when recipient app is in background or kill. Can you please help me on this how can i achieve this. I am familiar with Twilio and Sinch and i know they provides methods which works at the time of call when app is in background or kill.
Is there any extra set

[2018-03-21 13:35] Pro100Andrey commented on #330
Duplicate https://github.com/QuickBlox/quickblox-ios-sdk/issues/970

[2018-03-21 13:36] #330 closed

[2018-03-27 08:49] Pro100Andrey commented on #329
Hi @MiteshiOS, check this answer https://github.com/QuickBlox/quickblox-ios-sdk/issues/961

[2018-03-27 08:49] #329 closed

[2018-03-27 08:51] Pro100Andrey commented on #295
Q: I need to log in with Phone Only. Is it possible to use the FIREBASE and My own custom UI for the registration?

A: yes shure.

[2018-03-27 08:51] #295 closed

[2018-03-28 07:38] #233 closed

[2018-03-28 07:39] #232 closed

[2018-04-03 08:57] kushal211 opened #332 "Push Notification not working when App is not running."
Hello,

I've clone this repo. Change the account detail and uploaded the iOS push certificate in the admin panel.

When the app is not running or in the background, the push notification for the messages are not coming. I've tried sending push notification from the QB dashboard and it is working perfect but not for the messages.

I've tried with the audio and video call, the push is coming but the

[2018-04-03 09:05] pro100andrey commented on #332
Hi @kushal211,

1) Please remove all certificates and create the new one. It should be Universal (Sandbox & Production & VoIP) SSL certificate.

2)  Did you have any errors in "admin panel" -> Push notifications -> Queue?

3) Try checking certificate error logs also.
![image](https://user-images.githubusercontent.com/4947664/38208235-0cbd5142-36b9-11e8-9a17-c73fab089d11.png)

3) Could you provide

[2018-04-03 09:06] pro100andrey commented on #332
@kushal211 For enable logs use code below:

[code]

[2018-04-03 09:09] kushal211 commented on #332
Hi @pro100andrey ,

Thanks for the reply.

1. Please remove all certificates and create the new one. It should be Universal (Sandbox & Production & VoIP) SSL certificate.
- Yes, Certificate is created new and uploaded again as well.

2. Did you have any errors in "admin panel" -> Push notifications -> Queue?
- Messages are not even displayed in the Queue as well. (Check the attached image)
![scree

[2018-04-03 09:14] pro100andrey commented on #332
@kushal211

Tap on sent status and check again.

Could you provide your application id and bundle identifier

[2018-04-03 09:18] kushal211 commented on #332
All the five are with this status - **APNS (Apple Push) Delivered: 1, failed: 0**

applicationID: 69786
bundleID: com.indianic.securechatapp

[2018-04-03 09:20] pro100andrey commented on #332
@kushal211

I need more time to investigate.

Thanks.

[2018-04-03 11:41] kushal211 commented on #332
Hi @pro100andrey ,

It is started working. I actually don't know how but the last change which I made in admin panel was to re-enable **Enable automatic notifications for offline users** from the Chat > Alerts.

I've first disabled it and then enable it again. And the push notification has started working fine.

Thank you for the support.

[2018-04-03 13:36] #332 closed

[2018-04-14 20:40] rab211 commented on #301
Hello, i have the same problem i added the [QBSettings setLogLevel:QBLogLevelDebug];
[QBSettings enableXMPPLogging]; in the appdelegate.m but nothing, can you tell me what is the problem ?
Thank you
Antonios

[2018-04-14 22:01] rab211 opened #333 "After closing app and re-opening, all chats disappear on Chat Dialogs List"
Hello, i have this problem i added the [QBSettings setLogLevel:QBLogLevelDebug];
[QBSettings enableXMPPLogging]; in the appdelegate.m but not fixed, can you tell me what is the problem ? and how to fix i am new i dont know very good !!
Thank you
Antonios

[2018-04-23 09:47] pro100andrey commented on #333
Hi @rab211  Could you please provide full logs?

[2018-04-23 09:48] pro100andrey commented on #333
To enable full logs use the following code:
[code]

[2018-04-24 10:02] pro100andrey commented on #333
Hi, @rab211 Any updates?

[2018-04-25 06:40] kushal211 opened #334 "How Fuzzy search can be implemented?"
Hi,

I would like to know that is there any way by which I can implement fuzzy search? I want to implement search on the phone number.

e.g.
if I search for a phone number **"347376"**, then it will get me the user which has the phone number **"9834737655"**.

[2018-04-25 13:25] pro100andrey commented on #334
hi @kushal211, for  QBUser - no,

Use custom objects for this (ctn operator):

Operator | Applicable to types | Usage example | Description
-- | -- | -- | --
lt | Integer, Float | score_value[lt]=1000 | Less Than operator
lte | Integer, Float | score_value[lte]=850 | Less Than or Equal to operator
gt | Integer, Float | bonus_count[gt]=2.45 | Greater Than operator
gte | Integer, Float | bonus_count

[2018-04-26 13:48] Dharmikios opened #335 "How to start voice message recorder ?"
I was trying to send voice record message in demo but it is not working. It is just showing recording view but it not start recording. Can you please provide suggestion on this and let me know why it is not working.

I am working with swift and did this but same result. It is only showing record view but nothing is happening, no recording and no time increment.
Let me know if i am doing anything w

[2018-04-30 09:50] pro100andrey commented on #334
Hi @kushal211, Any updates?

[2018-05-01 11:01] Dharmikios opened #336 "How maintain media cell with play/push video or audio in swift ?"

[2018-05-01 11:03] #336 closed

[2018-05-02 03:58] kushal211 commented on #334
Hi @pro100andrey ,

Yes, I was also thought the same. This thing can be possible using custom objects.
I need to store user detail in Custom objects like Name, Phone number and search for it using query. It seems little extra process.

Thank You :)

[2018-05-02 13:58] #333 closed

[2018-05-11 15:36] VitaliyGuru commented on #335
@Dharmikios , Hello.
First things first you should adopt 'QMAudioRecordToolbarDelegate' and implement it's methods:
`self.inputToolbar.audioRecordDelegate = self`
[code]
Then you need to create you your own audio recorder, which should be able to record audio and handle all states of the 'QMAudioRecordToolbarDelegate' protocol.
Take a look at our implementation of the provided logic in the [Q-Muni

[2018-05-11 16:21] kushal211 opened #339 "VOIP Push not working for Android to iOS when app is not running"
Hi,

I'm facing one issue with a specific case where I'm calling **to iOS** user **from Android** device and application is in the **background** in iOS, the push notification is not coming to the iOS device and it is also not showing in Admin panel "Queue" section.

All the other cases are working fine. I'm using [Q-municate-android](https://github.com/QuickBlox/q-municate-android) for the Androi

[2018-05-11 17:15] kushal211 commented on #339
Hi,

Yes I've log enabled and there are many logs generated in console. It is all working fine and perfect for iOS to iOS, iOS to Android. Just in case of Android to iOS.

Should I send you the logs from iOS ?

[2018-05-11 17:44] VitaliyGuru commented on #339
@kushal211,
Could you please check that event's payload from android contains:
"VOIPCall" : "1"?

[2018-05-11 17:47] VitaliyGuru commented on #339
@kushal211, Could you please print event(all keys and values) that you are sending from android?

[2018-05-11 18:05] kushal211 commented on #339
hi @VitaliyGuru ,

Yes, I've checked that thing and it was missing in Android app. So I've added that in the payload.

Here is the complete payload from the Android app:

[code]

Please note that I've added one extra key as well **ios_voip** and also tried with all the possible combination of the keys by removing them one by one but none of them got me success.

It is not even adding the push noti

[2018-05-11 18:31] VitaliyGuru commented on #339
@kushal211, Please provide code for creating the event with `VOIPCall=1`  in Android?

[2018-05-12 05:07] ShuklaDevashree963 commented on #335
HI,

 I have same question. I did above stuffs as explained above. But not getting how to go for QMMediaController class & respective methods (in Swift) as shown in demo (in Qmiunicate).

[2018-05-12 13:56] VitaliyGuru commented on #335
@ShuklaDevashree963, `QMMediaController` is not responsible for audio recording.

[2018-05-14 06:00] kushal211 commented on #339
Hi @VitaliyGuru ,

Here is the code I'm using in Android:

[code]

Note:
You can check the code which is commented as **Custom - For iOS VOIP Push** which I've added in  **CoreNotificationHelper** class

[2018-05-15 07:06] kushal211 commented on #339
Hi @VitaliyGuru ,

Any update on the code provided?

[2018-05-15 08:54] VitaliyGuru commented on #339
@kushal211, Please use the code from the [Android Q-municate](https://github.com/QuickBlox/q-municate-android/blob/62976920e8d200d3a402d87f14029f3b5693ca39/Q-municate_core/src/main/java/com/quickblox/q_municate_core/utils/helpers/CoreNotificationHelper.java#L19).
And in the method `createPushEvent` you should provide `PUSH_MESSAGE_TYPE_CALL` for `messageType` parameter and set the appropriate envi

[2018-05-17 09:58] VitaliyGuru commented on #339
@kushal211, Any updates?

[2018-05-25 12:16] VitaliyGuru commented on #335
Closed due to no activity

[2018-05-25 12:16] #335 closed

[2018-05-25 12:17] #339 closed

[2018-05-26 09:42] leena12345 commented on #339
Hi @VitaliyGuru ,

In android,  sometimes, Chat history screen contains duplicate data in listview .. (Class :DialogsListFragment )
Thanks

[2018-05-29 07:21] Raikerian commented on #339
Hi @leena12345

This is an iOS-only repository and we have nothing to do with android code.
Please report all android issue to Quickblox Android repository here: https://github.com/QuickBlox/quickblox-android-sdk/issues

[2018-05-29 10:26] siyamak45 opened #340 "Chats histories are not shown"
Chats histories are not shown in the main page until we choose each user from contacts list and load its histories by tapping on send message button in profile page. It seems that the DataSource for chat dialogs could not be set on starting time. How can I solve this problem?

[2018-05-29 10:29] pro100andrey commented on #340
Hi @siyamak45, Could you please provide all steps for reproducing this behavior.

Thanks.

[2018-06-11 15:53] #340 closed

[2018-06-21 07:15] sagarmseven commented on #335
Recording button not show and I Press button that time crash App.

Issue:-
*** Terminating app due to uncaught exception 'NSInvalidArgumentException', reason: '-[BRONX.ChatViewController messagesInputToolbarAudioRecordingShouldStart:]: unrecognized selector sent to instance 0x103917200'

[2018-09-21 05:12] yutaza opened #341 "How to archive with Xcode?"
Hi.

I can archive with Xcode, but it becomes "Other items" and I can not press "Upload App Store …".

I checked the content of the URL, but it got the same result.
https://developer.apple.com/library/archive/technotes/tn2215/_index.html#//apple_ref/doc/uid/DTS40011221-CH1-PROJ

What should I do?

[2018-09-26 01:15] yutaza commented on #341
I changed the version of Cocoapods to 1.6.0.beta.1 and solved it.

https://github.com/CocoaPods/CocoaPods/issues/7648

[2018-09-26 01:15] #341 closed

[2018-10-16 12:04] vikihacksys commented on #335
No such file "QMAudioRecorder.h" present in my quickblox framework in project.
Please help.

[2018-10-16 12:27] sagarmseven commented on #335
make a custom audio recorder and set file in qmunicate library

On Tue, 16 Oct 2018 at 5:34 PM, Vivek Radadiya <notifications@github.com>
wrote:

--
Regards
Sagar modi

[2018-10-16 12:29] sagarmseven commented on #335
i already done in audio ,video recording upload in quick blox

On Tue, 16 Oct 2018 at 5:57 PM, Sagar Modi <sagarm@sevenstarinfotech.com>
wrote:

--
Regards
Sagar modi

[2019-01-22 11:04] irfaniOSdev opened #342 "Unable to build on Xcode"
I am unable to build project. i simply downloaded project from github,, unzipped and hit run on simulator.I have deleted derived data, restarted xcode but still same.

Following issue is coming!

:-1: Multiple commands produce '/Library/Developer/Xcode/DerivedData/Q-municate-gnocqxsvsdeakkabrfhhirapwwug/Build/Products/Debug-iphonesimulator/Q-municate.app/Frameworks/Quickblox.framework':
1) Target

[2019-02-21 04:11] nanirocks125 commented on #342
I am getting the same issue..
Any update on this?

I am using XCode 10.1

[2019-02-21 04:45] nanirocks125 commented on #342
I got the same issue.
I have installed the pods using "pod install" and it is working fine for me.

[2019-05-03 12:26] aditya-shinde-globant commented on #342
@nanirocks125 Same issue which @irfaniOSdev has mentioned is occurring for me.  I've installed pods using "pod install" but issue is still there.

[2019-05-03 12:36] QuickBlox-team commented on #342
This email is confirmation that you are now registered at our helpdesk.

Registered email: reply@reply.github.com
Password: bnbuy0zw2r

You can visit the helpdesk to browse articles and contact us at any time: https://assist.quickblox.com/

Thank you for registering!

QuickBlox

Helpdesk: https://assist.quickblox.com/index.php?

[2019-05-19 11:34] kittlsk commented on #342
@irfaniOSdev has anyone gotten this fixed for you?  I have the same issue here and pod install doesn't work for me too.

[2019-06-20 10:11] superdorx opened #343 "Can't load contact"
Hi, Support team.

I am using Q-municate ios app.
But I am facing one issue now.
When I login with email and password, it works well.
But after I close app (not logout) and open app again, the dialog lists on chat tab disappears.
How can I solve the issue?
I can edit code myself.
Please fix the issue and teach me.

Thank you.

[2020-01-13 05:06] sushantgiri opened #345 "iOS 13 VOIP Background call is not working"
Hello there,
I tested the application on iOS 12 it is working fine in all three states:
1. App in foreground.
2. App in back stack.
3. App cleared from backstack.
However in iOS 13 only App in foreground condition works. I do not receive any VOIP calls in background.

"On iOS 13.0 and later, if you fail to report a call to CallKit, the system will terminate your app. Repeatedly failing to report c

[2020-01-24 12:57] gurpreet029 commented on #345
Hello
Not sure if you have fixed this issue or not,
But for me
I have fixed by modifying some of the code
like whenever you receive a VoIP push, you have to trigger the call kit screen, because as of ios13 this is a necessary thing, and after this whenever the users accepts it will call didRecieveSession delegate and you have to just push to ur controller by accepting the call.

[2020-02-18 17:38] Chrismadscientist commented on #342
i got same issue pod install not work trying deleting pods folder and do pod install again

[2020-02-18 17:44] Chrismadscientist commented on #342
fixed it by doing this
set "Build System" to "Legacy Build System" in "Shared Workspace Settings" which you can find in "File --> Workspace Settings"

[2020-02-25 11:22] ritesh5553 opened #346 "video call Opponent view not showing"
We can see just the sender call view in the local view but we are not able to see an opponent view. In opponents, we just see the black screen in our device. we have set both local and opponent view frame properly. But we are unable to get opponent image in opponent view.

Thanks in advance!!!

[2020-03-18 05:26] raheeshishan commented on #345
Hello @gurpreet029 Can you send updated code Pushregistry

[2020-03-18 14:36] tarikhs commented on #345
Hello @gurpreet029 Just implement

func pushRegistry(_ registry: PKPushRegistry, didReceiveIncomingPushWith payload: PKPushPayload, for type: PKPushType, completion: @escaping () -> Void){
}

and report incoming call to callkit via reportNewIncomingCall and update the provided sample reportNewincomingCall to reportCall(with: uuid, updated: update)

[2020-03-19 04:48] raheeshishan commented on #345
Hello @tarikhs

How to add incoming call update inside pushregistry.Iam using Objective-c and also how to get session inside push registry

[2020-04-03 03:26] Rushang007 commented on #345
@gurpreet029 can please share some code? how to trigger the call kit screen in iOS 13

[2020-06-25 11:54] DineshKachhot commented on #345
Your answer helped me a lot, I was having an idea what I waned to do, but you answer sparked me how to do, thanks.

[2020-07-06 19:34] OttoChamo opened #347 "Nullability specifier '_Nullable' cannot be applied to non-pointer type 'int' in QMImageLoader.h"
I recently inherited a project, where we use QuickBlox, I was using xCode 11.0 I got this error and even after I updated to 11.5. What can I do to solve this issue? I installed it using Carthage.

[2020-07-07 10:20] parthsit commented on #345
hello @DineshKachhot  did it work for iOS 13 background incoming call ?
Can you please share steps to do it or code ? It would be great help as I am stuck with it.

[2020-07-08 07:14] gurpreet029 commented on #345
Hi @parthsit
please follow the sample Quickblox provided
https://github.com/QuickBlox/quickblox-ios-sdk/tree/master/sample-videochat-webrtc-swift

They have fixed the ios13 background incoming call issue.

[2020-07-08 13:00] parthsit commented on #345
Hi @gurpreet029 could you please share your solution because I downloaded latest sample quickblox source code and still issue persists. It would be really great help if you could share your code snippet with me/us.

[2020-08-24 05:30] silicus-kirankhalkar commented on #345
@parthsit @gurpreet029 @DineshKachhot

Hello,
I am facing problem from Android to iOS Video and Audio call when App have in the background and Kill mode.

1.	iOS to iOS calls .
a. when the app is in the foreground, calling functionality works smoothly.
 b. when app is in the background, calling functionality works smoothly. 
c. when the app was killed/screen locked, calling functionality works but

[2020-11-26 07:37] NomanUmar commented on #345
Anyone found solution to show call view on background

[2020-11-30 09:58] NomanUmar opened #348 "During the if if move other screen via tap on notification screen how i will show video screen ?"

[2020-12-25 11:42] Annyjain29 commented on #185
From where i can find files which i can add manually ?

[2021-05-24 13:40] TappChat-dev commented on #345
Can You help me for banchgroung and kill state in iOS -iOS and android - iOS .?